body {
  font-family: "Rubik", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  background-color: #EEE;
  overflow-x: hidden;
}
@media screen and (max-width: 767.99px) {
  body {
    width: 650px;
    margin-bottom: 100px;
  }
}

.header .desktop {
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 50px;
  margin-bottom: 40px;
  min-width: 1305px;
}
@media screen and (max-width: 767.99px) {
  .header .desktop {
    display: none;
  }
}
.header .button {
  margin: 5px;
  width: 200px;
  line-height: 48px;
  font-size: 12px;
  cursor: pointer;
  background-color: #BBB;
  border: 2px solid #000;
  border-radius: 4px;
  height: calc(100% - 4px);
  padding: 0 8px;
  min-width: 160px;
}
@media screen and (max-width: 767.99px) {
  .header .button {
    min-width: unset;
    font-size: 11px;
  }
}
.header .button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.header .options {
  display: flex;
}
.header .options .selected {
  box-shadow: inset 0 0 0 2px #000;
}
.header .options > div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.header .options > div.help {
  font-size: 36px;
  line-height: 50px;
  background-color: white;
}
.header .options > div#nat {
  background: linear-gradient(to bottom, #065BAA 0, #065BAA 33%, #0986F7 33%, #0986F7 66%, #8FC8FB 66%, #8FC8FB 100%);
}
.header .options > div#lab {
  background: linear-gradient(to bottom, #D82C20 0, #D82C20 33%, #E7695F 33%, #E7695F 66%, #F1A7A1 66%, #F1A7A1 100%);
}
.header .options > div#act {
  background: linear-gradient(to bottom, #FFDF00 0, #FFDF00 33%, #FFED69 33%, #FFED69 66%, #FFF9C9 66%, #FFF9C9 100%);
}
.header .options > div#grn {
  background: linear-gradient(to bottom, #4BB965 0, #4BB965 33%, #7BCB8E 33%, #7BCB8E 66%, #AFDFBA 66%, #AFDFBA 100%);
}
.header .options > div#tpm {
  background: none;
}
.header .options > div#tpm > div {
  position: absolute;
  z-index: -1;
  font-size: 12px;
  width: calc(50px / 2);
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat !important;
}
.header .options > div#tpm > div:first-of-type {
  border-radius: 25px 0 0 25px;
  background: linear-gradient(to bottom, #000 0, #000 33%, #3B3838 33%, #3B3838 66%, #AFABAB 66%, #AFABAB 100%);
}
.header .options > div#tpm > div:last-of-type {
  margin-left: calc(50px / 2);
  border-radius: 0 25px 25px 0;
  background: linear-gradient(to bottom, #C12026 0, #C12026 33%, #E0444B 33%, #E0444B 66%, #E8747A 66%, #E8747A 100%);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.mobile .buttons {
  display: flex;
  width: 99%;
  margin: 40px 0 20px;
}
.mobile .options {
  justify-content: space-evenly;
  margin-bottom: 40px;
  width: 99%;
}
.mobile .options > div {
  width: 70px;
  height: 60px;
}
.mobile .options > div.help {
  line-height: 60px;
}
.mobile .options > div#tpm > div {
  width: 35px;
  height: 60px;
}
.mobile .options > div#tpm > div:last-of-type {
  margin-left: 35px;
}
.mobile .flex-container {
  max-width: 640px;
}
.mobile .flex-container .flex-row {
  width: unset;
}

h1 {
  vertical-align: baseline;
  font-weight: bold;
  min-width: 1305px;
}
@media screen and (max-width: 767.99px) {
  h1 {
    width: 630px;
    min-width: unset;
  }
}

.to-capture {
  /* this class is applied just before it is exported */
  width: 1450px;
}
.to-capture .flex-container {
  display: flex;
}
.to-capture .title-to-export {
  font-size: 48px;
  font-weight: bold;
  margin: 20px;
}
.to-capture .text-to-export {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.to-capture .text-to-export .text:last-of-type {
  text-align: right;
}
.to-capture .lab-message {
  top: 906px;
  right: unset;
  left: 1170px;
}
.to-capture .nat-message {
  top: 906px;
  left: 110px;
}
.to-capture .lab-arrow, .to-capture .nat-arrow {
  margin-top: -26px;
}

@media screen and (max-width: 767.99px) {
  #to-capture .flex-container {
    display: none;
  }
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-container .flex-row {
  display: inline-flex;
  width: 100%;
  height: 70px;
}
.flex-container .flex-row > div {
  min-width: 145px;
  display: flex;
  cursor: pointer;
  flex: 1;
  font-size: 18px;
  margin: 3px 5px;
  padding: 0 4px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.lab-message {
  position: absolute;
  top: 810px;
  right: 7vw;
}
@media screen and (max-width: 1320px) {
  .lab-message {
    right: unset;
    left: 1040px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767.99px) {
  .lab-message {
    top: 1550px;
    left: 370px;
  }
}
.lab-message .lab-arrow {
  position: absolute;
  font-size: 32px;
  margin-top: -38px;
  right: -18px;
}

.nat-message {
  position: absolute;
  top: 810px;
  left: 7vw;
}
@media screen and (max-width: 1320px) {
  .nat-message {
    white-space: nowrap;
    left: 92px;
  }
}
@media screen and (max-width: 767.99px) {
  .nat-message {
    top: 1550px;
    left: 90px;
  }
}
.nat-message .nat-arrow {
  position: absolute;
  font-size: 32px;
  margin-top: -38px;
  left: -18px;
  transform: scaleX(-1);
}

.version {
  margin-top: -50px;
  margin-right: -505px;
  margin-bottom: 36px;
  font-size: 12px;
}
@media screen and (max-width: 1320px) {
  .version {
    position: absolute;
    left: 895px;
  }
}
@media screen and (max-width: 767.99px) {
  .version {
    left: 550px;
  }
}

/* Help modal */
.modal-container {
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container .modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 950px;
}
.modal-container .modal .help-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-container .modal .help-text {
  line-height: 24px;
}
.modal-container .modal .help-text span {
  padding: 2px;
  color: white;
}
.modal-container .modal .close-modal {
  float: right;
  margin-top: -135px;
  font-size: 24px;
  cursor: pointer;
}
.modal-container .modal .party-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
.modal-container .modal .party-flex-container .flex-column {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  width: calc(20% - 20px);
  background-color: #000;
  border: 3px solid black;
}
.modal-container .modal .party-flex-container .flex-column#close-race {
  margin: 10px 40%;
}
.modal-container .modal .party-flex-container .flex-column > div {
  min-height: 30px;
  display: flex;
  flex: 1;
  font-size: 18px;
  margin: 3px 5px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.modal-container .modal .party-flex-container .flex-column > div:first-of-type {
  margin-top: 5px;
}
.modal-container .modal .party-flex-container .flex-column > div:last-of-type {
  margin-bottom: 5px;
}
@media screen and (max-width: 767.99px) {
  .modal-container .modal {
    width: 540px;
  }
  .modal-container .modal .help-title {
    font-size: 48px;
  }
  .modal-container .modal .help-text {
    font-size: 22px;
    line-height: 1.5;
  }
  .modal-container .modal .help-text span {
    padding: 2px;
    color: white;
  }
  .modal-container .modal .help-text br {
    display: block;
    margin-bottom: 20px;
    content: "";
  }
  .modal-container .modal .close-modal {
    margin-top: -450px;
    font-size: 48px;
  }
  .modal-container .modal .party-flex-container .flex-column {
    min-width: 150px;
    margin-top: 10px;
  }
}

.close-race {
  background-color: #767171 !important;
}

.safe-nat {
  background-color: #065BAA !important;
}

.likely-nat {
  background-color: #0986F7 !important;
  color: #000 !important;
}

.lean-nat {
  background-color: #8FC8FB !important;
  color: #000 !important;
}

.safe-lab {
  background-color: #D82C20 !important;
}

.likely-lab {
  background-color: #E7695F !important;
  color: #000 !important;
}

.lean-lab {
  background-color: #F1A7A1 !important;
  color: #000 !important;
}

.safe-act {
  background-color: #FFDF00 !important;
  color: #000 !important;
}

.likely-act {
  background-color: #FFED69 !important;
  color: #000 !important;
}

.lean-act {
  background-color: #FFF9C9 !important;
  color: #000 !important;
}

.safe-grn {
  background-color: #4BB965 !important;
}

.likely-grn {
  background-color: #7BCB8E !important;
  color: #000 !important;
}

.lean-grn {
  background-color: #AFDFBA !important;
  color: #000 !important;
}

.safe-tpm {
  background: linear-gradient(to right, #000 50%, #C12026 50%);
}

.likely-tpm {
  background: linear-gradient(to right, #3B3838 50%, #E0444B 50%);
}

.lean-tpm {
  background: linear-gradient(to right, #AFABAB 50%, #E8747A 50%);
  color: #000 !important;
}