// TODO use variables for common values

body {
  font-family: 'Roboto', sans-serif;
  user-select: none;
  text-align: center;
  background-color: #EEE;
}

.overlay {
  position: fixed;
  overflow: hidden;
  display: none;
  background-color: #222;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: default;

  .overlay-text {
    margin: 400px 100px;
    font-size: 55px;
    color: white;
  }
}

.header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 50px;
  margin-bottom: 40px;

  .button {
    margin: 5px;
    width: 200px;
    line-height: 48px;
    cursor: pointer;
    background-color: #BBB;
    border: 2px solid #000;
    border-radius: 4px;
    height: calc(100% - 4px);
    padding: 0 10px;
  }

  .options {
    display: flex;

    .selected {
      box-shadow: inset 0 0 0 2px #000;
    }

    > div {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 10px;
      cursor: pointer;
      box-sizing: border-box;

      &.help {
        font-size: 36px;
        line-height: 50px;
        background-color: white;
      }

      &#nat {
        background: linear-gradient(to bottom, #065BAA 0, #065BAA 33%, #0986F7 33%, #0986F7 66%, #8FC8FB 66%, #8FC8FB 100%);
      }

      &#lab {
        background: linear-gradient(to bottom, #D82C20 0, #D82C20 33%, #E7695F 33%, #E7695F 66%, #F1A7A1 66%, #F1A7A1 100%);
      }

      &#act {
        background: linear-gradient(to bottom, #FFDF00 0, #FFDF00 33%, #FFED69 33%, #FFED69 66%, #FFF9C9 66%, #FFF9C9 100%);
      }

      &#grn {
        background: linear-gradient(to bottom, #4BB965 0, #4BB965 33%, #7BCB8E 33%, #7BCB8E 66%, #AFDFBA 66%, #AFDFBA 100%);
      }

      &#tpm {
        background: none;

        > div {
          position: absolute;
          z-index: -1;
          font-size: 12px;
          width: 25px;
          height: 50px;
          cursor: pointer;
          background-repeat: no-repeat !important;

          &:first-of-type {
            border-radius: 25px 0 0 25px;
            background: linear-gradient(to bottom, #000 0, #000 33%, #3B3838 33%, #3B3838 66%, #AFABAB 66%, #AFABAB 100%);
          }

          &:last-of-type {
            margin-left: 25px;
            border-radius: 0 25px 25px 0;
            background: linear-gradient(to bottom, #C12026 0, #C12026 33%, #E0444B 33%, #E0444B 66%, #E8747A 66%, #E8747A 100%);
          }
        }
      }
    }
  }
}



h1 {
  vertical-align: baseline;
  font-weight: bold;
}

.to-capture {
  /* this is applied just before it is exported */
  width: 1450px;

  .title-to-export {
    font-size: 48px;
    font-weight: bold;
    margin: 20px;
  }

  .text-to-export {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    .text:last-of-type {
      text-align: right;
    }
  }

  .lab-message {
    top: 910px;
    right: unset;
    left: 1160px;
  }

  .nat-message {
    top: 910px;
    left: 120px;
  }

  .lab-arrow, .nat-arrow {
    margin-top: -46px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .flex-row {
    display: inline-flex;
    width: 100%;
    height: 70px;

    > div {
      min-width: 145px;
      display: flex;
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      margin: 3px 5px;
      background-color: black;
      color: white;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}

.lab-message {
  position: absolute;
  top: 810px;
  right: 150px;
}

.lab-arrow {
  position: absolute;
  font-size: 40px;
  margin-top: -50px;
  right: -26px;
}

.nat-message {
  position: absolute;
  top: 810px;
  left: 130px;
}

.nat-arrow {
  position: absolute;
  font-size: 40px;
  margin-top: -50px;
  left: -26px;
  transform: scaleX(-1);
}

/* FIXES ARROWS ON CHROME */
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  .lab-arrow  {
    margin-top: -37px !important;
    right: -34px;
  }

  .nat-arrow {
    margin-top: -37px !important;
    left: -34px;
  }
}

.modal-container {
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  .modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 950px;

    .help-title {
      font-size: 24px;
    }

    .help-text {
      span {
        padding: 2px;
        color: white;
      }
    }

    .close-modal {
      float: right;
      margin-top: -95px;
      font-size: 24px;
      // line-height: 20px;
      transform: scaleX(1.3);
      cursor: pointer;
    }

    .party-flex-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 20px;

      .flex-column {
        min-width: 180px;
        display: flex;
        flex-direction: column;
        width: calc(20% - 20px);
        background-color: #000;
        border: 3px solid black;

        &.selected {
          border: 3px solid red;
        }

        &#close-race {
          margin: 10px 40%;
        }

        > div {
          min-height: 30px;
          display: flex;
          flex: 1;
          font-size: 18px;
          margin: 3px 5px;
          background-color: black;
          color: white;
          align-items: center;
          justify-content: center;
          font-weight: bold;

          &:first-of-type {
            margin-top: 5px;
          }

          &:last-of-type {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.safe-nat {
  background-color: #065BAA !important;
}

.likely-nat {
  background-color: #0986F7 !important;
  color: #000 !important;
}

.lean-nat {
  background-color: #8FC8FB !important;
  color: #000 !important;
}

.safe-lab {
  background-color: #D82C20 !important;
}

.likely-lab {
  background-color: #E7695F !important;
  color: #000 !important;
}

.lean-lab {
  background-color: #F1A7A1 !important;
  color: #000 !important;
}

.close-race {
  background-color: #767171 !important;
}

.safe-act {
  background-color: #FFDF00 !important;
  color: #000 !important;
}

.likely-act {
  background-color: #FFED69 !important;
  color: #000 !important;
}

.lean-act {
  background-color: #FFF9C9 !important;
  color: #000 !important;
}

.safe-grn {
  background-color: #4BB965 !important;
}

.likely-grn {
  background-color: #7BCB8E !important;
  color: #000 !important;
}

.lean-grn {
  background-color: #AFDFBA !important;
  color: #000 !important;
}

.safe-tpm {
  background: linear-gradient(to right, #000 50%, #C12026 50%);
}

.likely-tpm {
  background: linear-gradient(to right, #3B3838 50%, #E0444B 50%);
}

.lean-tpm {
  background: linear-gradient(to right, #AFABAB 50%, #E8747A 50%);
  color: #000 !important;
}
