$close-race: #767171;
$safe-nat: #065BAA;
$likely-nat: #0986F7;
$lean-nat: #8FC8FB;
$safe-lab: #D82C20;
$likely-lab: #E7695F;
$lean-lab: #F1A7A1;
$safe-act: #FFDF00;
$likely-act: #FFED69;
$lean-act: #FFF9C9;
$safe-grn: #4BB965;
$likely-grn: #7BCB8E;
$lean-grn: #AFDFBA;
$safe-tpm-left: #000;
$safe-tpm-right: #C12026;
$likely-tpm-left: #3B3838;
$likely-tpm-right: #E0444B;
$lean-tpm-left: #AFABAB;
$lean-tpm-right: #E8747A;
$dark-text-color: #000;

$fixed-width-below: 1320px;
$header-min-width: 1305px;
$option-size: 50px;
$option-border-radius: 25px;
$message-top: 810px;
$message-from-edge: 7vw;
$arrow-font-size: 32px;
$arrow-margin-top: -38px;
$arrow-x-adjustment: -18px;

$mobile-max-width: 767.99px;
$desktop-min-width: 768px;

body {
  font-family: 'Rubik', sans-serif;
  user-select: none;
  text-align: center;
  background-color: #EEE;
  overflow-x: hidden;

  @media screen and (max-width: $mobile-max-width) {
    width: 650px;
    margin-bottom: 100px;
  }
}

.header {
  .desktop {
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 50px;
    margin-bottom: 40px;
    min-width: $header-min-width;

    @media screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  .button {
    margin: 5px;
    width: 200px;
    line-height: 48px;
    font-size: 12px;
    cursor: pointer;
    background-color: #BBB;
    border: 2px solid #000;
    border-radius: 4px;
    height: calc(100% - 4px);
    padding: 0 8px;
    min-width: 160px;

    @media screen and (max-width: $mobile-max-width) {
      min-width: unset;
      font-size: 11px;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .options {
    display: flex;

    .selected {
      box-shadow: inset 0 0 0 2px #000;
    }

    > div {
      width: $option-size;
      height: $option-size;
      border-radius: $option-border-radius;
      margin: 0 10px;
      cursor: pointer;
      box-sizing: border-box;

      &.help {
        font-size: 36px;
        line-height: $option-size;
        background-color: white;
      }

      &#nat {
        background: linear-gradient(to bottom, $safe-nat 0, $safe-nat 33%, $likely-nat 33%, $likely-nat 66%, $lean-nat 66%, $lean-nat 100%);
      }

      &#lab {
        background: linear-gradient(to bottom, $safe-lab 0, $safe-lab 33%, $likely-lab 33%, $likely-lab 66%, $lean-lab 66%, $lean-lab 100%);
      }

      &#act {
        background: linear-gradient(to bottom, $safe-act 0, $safe-act 33%, $likely-act 33%, $likely-act 66%, $lean-act 66%, $lean-act 100%);
      }

      &#grn {
        background: linear-gradient(to bottom, $safe-grn 0, $safe-grn 33%, $likely-grn 33%, $likely-grn 66%, $lean-grn 66%, $lean-grn 100%);
      }

      &#tpm {
        background: none;

        > div {
          position: absolute;
          z-index: -1;
          font-size: 12px;
          width: calc(#{$option-size} / 2);
          height: $option-size;
          cursor: pointer;
          background-repeat: no-repeat !important;

          &:first-of-type {
            border-radius: $option-border-radius 0 0 $option-border-radius;
            background: linear-gradient(to bottom, $safe-tpm-left 0, $safe-tpm-left 33%, $likely-tpm-left 33%, $likely-tpm-left 66%, $lean-tpm-left 66%, $lean-tpm-left 100%);
          }

          &:last-of-type {
            margin-left: calc(#{$option-size} / 2);
            border-radius: 0 $option-border-radius $option-border-radius 0;
            background: linear-gradient(to bottom, $safe-tpm-right 0, $safe-tpm-right 33%, $likely-tpm-right 33%, $likely-tpm-right 66%, $lean-tpm-right 66%, $lean-tpm-right 100%);
          }
        }
      }
    }
  }
}

.mobile {
  @media screen and (min-width: $desktop-min-width) {
    display: none;
  }

  .buttons {
    display: flex;
    width: 99%;
    margin: 40px 0 20px;
  }

  .options {
    // display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    width: 99%;

    > div {
      width: 70px;
      height: 60px;

      &.help {
        line-height: 60px;
      }

      &#tpm > div {
        width: 35px;
        height: 60px;

        &:last-of-type {
          margin-left: 35px;
        }
      }
    }
  }

  .flex-container {
    max-width: 640px;

    .flex-row {
      width: unset;
    }
  }
}

h1 {
  vertical-align: baseline;
  font-weight: bold;
  min-width: $header-min-width;

  @media screen and (max-width: $mobile-max-width) {
    width: 630px;
    min-width: unset;
  }
}

.to-capture {
  /* this class is applied just before it is exported */
  width: 1450px;

  .flex-container {
    display: flex;
  }

  .title-to-export {
    font-size: 48px;
    font-weight: bold;
    margin: 20px;
  }

  .text-to-export {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    .text:last-of-type {
      text-align: right;
    }
  }

  .lab-message {
    top: 906px;
    right: unset;
    left: 1170px;
  }

  .nat-message {
    top: 906px;
    left: 110px;
  }

  .lab-arrow, .nat-arrow {
    margin-top: -26px;
  }
}

#to-capture {
  .flex-container {
    @media screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .flex-row {
    display: inline-flex;
    width: 100%;
    height: 70px;

    > div {
      min-width: 145px;
      display: flex;
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      margin: 3px 5px;
      padding: 0 4px;
      background-color: black;
      color: white;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}

.lab-message {
  position: absolute;
  top: $message-top;
  right: $message-from-edge;

  @media screen and (max-width: $fixed-width-below) {
    right: unset;
    left: 1040px;
    white-space: nowrap;
  }

  @media screen and (max-width: $mobile-max-width) {
    top: 1550px;
    left: 370px;
  }

  .lab-arrow {
    position: absolute;
    font-size: $arrow-font-size;
    margin-top: $arrow-margin-top;
    right: $arrow-x-adjustment;
  }
}

.nat-message {
  position: absolute;
  top: $message-top;
  left: $message-from-edge;

  @media screen and (max-width: $fixed-width-below) {
    white-space: nowrap;
    left: 92px;
  }

  @media screen and (max-width: $mobile-max-width) {
    top: 1550px;
    left: 90px;
  }

  .nat-arrow {
    position: absolute;
    font-size: $arrow-font-size;
    margin-top: $arrow-margin-top;
    left: $arrow-x-adjustment;
    transform: scaleX(-1);
  }
}

.version {
  margin-top: -50px;
  margin-right: -505px;
  margin-bottom: 36px;
  font-size: 12px;

  @media screen and (max-width: $fixed-width-below) {
    position: absolute;
    left: 895px;
  }

  @media screen and (max-width: $mobile-max-width) {
    left: 550px;
  }
}

/* Help modal */
.modal-container {
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  .modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 950px;

    .help-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .help-text {
      line-height: 24px;
      span {
        padding: 2px;
        color: white;
      }
    }

    .close-modal {
      float: right;
      margin-top: -135px;
      font-size: 24px;
      cursor: pointer;
    }

    .party-flex-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 20px;

      .flex-column {
        min-width: 180px;
        display: flex;
        flex-direction: column;
        width: calc(20% - 20px);
        background-color: #000;
        border: 3px solid black;

        &#close-race {
          margin: 10px 40%;
        }

        > div {
          min-height: 30px;
          display: flex;
          flex: 1;
          font-size: 18px;
          margin: 3px 5px;
          background-color: black;
          color: white;
          align-items: center;
          justify-content: center;
          font-weight: bold;

          &:first-of-type {
            margin-top: 5px;
          }

          &:last-of-type {
            margin-bottom: 5px;
          }
        }
      }
    }

    @media screen and (max-width: $mobile-max-width) {
      width: 540px;
      .help-title {
        font-size: 48px;
      }
  
      .help-text {
        font-size: 22px;
        line-height: 1.5;
        span {
          padding: 2px;
          color: white;
        }

        br {
          display: block;
          margin-bottom: 20px;
          content: "";
        }
      }

      .close-modal {
        margin-top: -450px;
        font-size: 48px;
      }

      .party-flex-container .flex-column {
        min-width: 150px;
        margin-top: 10px;
      }
    }
  }
}

.close-race {
  background-color: $close-race !important;
}

.safe-nat {
  background-color: $safe-nat !important;
}

.likely-nat {
  background-color: $likely-nat !important;
  color: $dark-text-color !important;
}

.lean-nat {
  background-color: $lean-nat !important;
  color: $dark-text-color !important;
}

.safe-lab {
  background-color: $safe-lab !important;
}

.likely-lab {
  background-color: $likely-lab !important;
  color: $dark-text-color !important;
}

.lean-lab {
  background-color: $lean-lab !important;
  color: $dark-text-color !important;
}

.safe-act {
  background-color: $safe-act !important;
  color: $dark-text-color !important;
}

.likely-act {
  background-color: $likely-act !important;
  color: $dark-text-color !important;
}

.lean-act {
  background-color: $lean-act !important;
  color: $dark-text-color !important;
}

.safe-grn {
  background-color: $safe-grn !important;
}

.likely-grn {
  background-color: $likely-grn !important;
  color: $dark-text-color !important;
}

.lean-grn {
  background-color: $lean-grn !important;
  color: $dark-text-color !important;
}

.safe-tpm {
  background: linear-gradient(to right, $safe-tpm-left 50%, $safe-tpm-right 50%);
}

.likely-tpm {
  background: linear-gradient(to right, $likely-tpm-left 50%, $likely-tpm-right 50%);
}

.lean-tpm {
  background: linear-gradient(to right, $lean-tpm-left 50%, $lean-tpm-right 50%);
  color: $dark-text-color !important;
}
